@import 'scrollbar';
@import 'card';
@import 'button';


@mixin main-background() {
  background: rgb(0, 159, 231);
  background: linear-gradient(326deg, rgba(147, 13, 224, 1) 0%, rgba(0, 159, 231, 1) 15%, rgba(0, 222, 223, 1) 50%, rgba(156, 0, 224, 1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 600%;
}

@mixin glass-background() {
  @include glass-filter();
  background: rgba(255, 255, 255, 0.3);
}

@mixin input-glass-background() {
  @include glass-filter();
  background: rgba(255, 255, 255, 0.3);
}

@mixin glass-background-hover() {
  @include glass-filter();
  background: rgba(0, 0, 0, 0.3);
}

@mixin horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin scroll-bar() {

  /* width */
  &::-webkit-scrollbar {
      width: .6rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: $base-border-radius;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
      @include glass-background();
      border-radius: $base-border-radius;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
      @include glass-background-hover();
  }

}