
// input
.input {
    @include input-glass-background();
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: $base-border-radius;
    padding: $base-padding $base-padding*2;
}
.input:focus {
    @include glass-background-hover();
}
.input::placeholder{
    color: #dadada;
    font-weight: 100;
}

// button
.btn{
    @include glass-background();
    border: none;
    padding: $base-padding $base-padding*2;
    text-decoration: none;
    cursor: pointer;
    border-radius: $base-border-radius;
}
.btn:focus{
    @include glass-background-hover();
}
.btn:hover{
    @include glass-background-hover();
}