* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  font-size: $base-font-size;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $base-text-color;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer
}

button{
  cursor: pointer;
}

body {
  @include main-background();
  min-height: 100vh;
}

h1{
  font-size: $base-font-size + 1em;
  margin: $base-margin 0;
}

h2{
  font-size: $base-font-size + .5em;
  margin: $base-margin 0;
}

h3{
  font-size: $base-font-size + .17em;
  margin: $base-margin 0;
}

h5{
  font-size: .83em;
}

h6{
  font-size: .67em;
}