$prefix: "";

// color palette
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "blue": #1919e6,
    "red": #e61919,
    "yellow": #e6e619,
    "green": #19e635,
    "orange": #ffa600,
    "purple": #9900ff,
    "grey": #808080,
    "pink": #ffc0cb,
    "black": black,
    "white": white
);

$base-text-color: rgba(255, 255, 255, 0.87);
;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// font
$base-font-size: 1em;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.5;
$font-size-lg: $base-font-size * 2;
$font-size-xl: $base-font-size * 3;

// border
$base-border: 1px solid white;
$base-border-thickness: 1px;
$base-border-radius: 0.5rem;

// blur filter
$base-blur-deep: 10px;

@mixin glass-filter() {
    backdrop-filter: blur($base-blur-deep);
    -webkit-backdrop-filter: blur($base-blur-deep);
}